html{
	min-width:300px;/*页面最小宽度*/
	/*background:#f9ffe7;/*背景设置：黑色*/
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 120%;
	overflow:scroll;
	overflow-x:hidden;
	height:100%;
	font-family:sans-serif;
}
.mouseimage{
	background-image:url("Pic/Mouse.JPG");
}
.whiteimage{
	background:#f9ffe7;/*背景设置：黑色*/
}
div#main_container{
	height:730px;
	width:100%;
	background:transparent;
	position:relative;
}


div#leftfixed{
	float: left;
	width: 0%;/*目前主页设计不添加leftbar，故设为0*/
	height:100%;
	background: transparent;
	position:relative;
	opacity:0;
	z-index:1;
}
div#leftfixed *{
	width: 180px;
        bottom:0px;
}
div#rightfixed{
	float: right;
	width:1px;
	height:100%;
	background:transparent;
	position:relative;
	opacity:0;
}
div#content{
	width:100%;
	height:600px;
        color: black;
	background:white;/*白色*/
	margin:auto;
}
div#footer {
	height:30px;
	width:100%;
	background:#000000;
	color:#FFFFFF;
	padding-top:10px;
	float:top;
	position:relative;
	margin-bottom:0px;
	text-align:center;
}

div.topline
{
	position:absolute;
	margin-top:0px;
	width:100%;
	background:black;
	height:1px;
}
div.bottomline
{
	position:absolute;
	margin-top:0px;
	padding-bottom: 0px;
	width:100%;
	background:black;
	height:1px;
}

